@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body{
    font-family: 'Open Sans', sans-serif;
}

.magenta{
    color: #8126a5;
    text-align: center;
    margin-bottom: 20px;
}

.verde {
    color: #68b688;
}

.txtcontato {
    font-size: 24px;
    font-weight: 700;
    color: #8126a5;
}

#tarja {
    position: relative;
    background-color: #8126a5;
    height: auto;
    width: 100%;
}

#cont {
    position: relative;
    background-color: #2b542c;
    height: 200px;
    width: 100%;
}
#cont2 {
    position: relative;
    background-color: #c0c0c0;
    height: 200px;
    width: 100%;
}

.contato{
    position: relative;
    margin-top: 20px;
}

.contatos_footer{
    border-top: solid 2px #68b688;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 5px;
    margin-left: 15px;
    margin-right: 15px;
}
.dialog {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    margin-top: 30px;
}

.dialog_logo {
    position: relative;
    margin-bottom: 30px;
    margin-top: 80px;
}

.dialog_txt {
    position: absolute;
    z-index: 2;
    padding: 49px;
    text-align: left;
    font-size: 22px;
    color: #ffffff;
    top: 0px;
}




.input_site{
    width:100%;
    height: 54px;
    color:#8126a5;
    font-size:18px;
    background-color:#ffffff;
    border: solid #68b688;
    outline: none;
    -webkit-border-radius: none;
    border-radius: none;
    padding-left: 10px;
}

.input_site:hover{
    width:100%;
    height: 54px;
    color:#68b688;
    font-size:18px;
    background-color:#ffffff;
    border: solid #8126a5;
    outline: none;
    -webkit-border-radius: none;
    border-radius: none;
    padding-left: 10px;
}


.input_site_msg{
    width:100%;
    height: 140px;
    color:#8126a5;
    font-size:18px;
    background-color:#ffffff;
    border: solid #68b688;
    outline: none;
    -webkit-border-radius: none;
    border-radius: none;
    padding-left: 10px;
}

.input_site_msg:hover{
    width:100%;
    height: 140px;
    color:#68b688;
    font-size:18px;
    background-color:#ffffff;
    border: solid #8126a5;
    outline: none;
    -webkit-border-radius: none;
    border-radius: none;
    padding-left: 10px;
}


.btn_enviar {
    width: 100%;
    background: #8126a5;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: none;
    color: #ffffff !important;
    font-size: 16px;
    font-weight: 700;
    padding: 7px 10px 7px 10px;
    text-decoration: none;
    cursor: pointer;
    border: solid 1px #FFFFFF;
}

.btn_enviar:hover {
    color: #ffffff !important;
    background: #68b688;
    text-decoration: none;
    cursor: pointer;
    border: solid 1px #FFFFFF;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color:#8126a5;
}
::-moz-placeholder { /* Firefox 19+ */
    color:#8126a5;
}
:-ms-input-placeholder { /* IE 10+ */
    color:#8126a5;
}
:-moz-placeholder { /* Firefox 18- */
    color:#8126a5;
}

/* Iphone 6- */
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px) {

    .dialog_txt {
        padding: 45px;
        font-size: 17px;
    }

}

/* Iphone 6Plus- */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
    .dialog_txt {
        padding: 45px;
        font-size: 15px;
    }
}

/* Iphone 4S- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

    .dialog_txt {
        padding: 33px;
        font-size: 13px;
    }
}

/* Iphone 5- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
    .dialog_txt {
        padding: 33px;
        font-size: 13px;
    }

}

/* Ipad Horizontal- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) {

    .dialog_txt {
        padding: 43px;
        font-size: 22px;
    }
}

/* Ipad Vertical- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) { /
    .dialog_txt {
        padding: 37px;
        font-size: 15px;
    }
}